:root {
    --primary-brand-color: #4D5AE5;
    --navbar-color: #2E2F42;
    --navbar-contacts-color: #434455;
    --text-color: #434455;
    --footer-text-color: #F4F4FD;
    --button-border-color: #e7e9fc;
    --ocean-link-color: #404BBF;
    --logo-color: #8E8F99;
    --white-color: #FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    min-height: 100vh;
    color: var(--text-color);

}

main {}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
}

header {
    background: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    margin: 0 auto;
    padding: 0 15px
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*=============================================
=                   header                    =
=============================================*/

.header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08)
}

.header-container {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    padding: 0 15px;
}


.logo {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}


.header-logo-studio {
    color: var(--navbar-color);
}

.nav-block {
    display: flex;
    align-items: center;
    margin-right: 332px;
    position: relative;
}

/* ???????????? */

.link-active-studio::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    background: var(--ocean-link-color);
    border-radius: 2px;
    color: #404bbf;
    left: 0;
    bottom: -4px;
}

.link-active-portfolio::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -4px;
}

/* ???????????????? */
.nav-list-item {
    position: relative;
}

.nav-list {
    display: flex;
    gap: 40px;
    padding-left: 0;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navbar-color);
    padding: 24px 0;
}

/* active link */
.link-active-studio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
}

.link-active-portfolio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
}

/* active link */

.nav-link:hover {
    color: #404bbf;
}

.nav-link:active {
    color: #404bbf;
}

.contacts {
    font-style: normal;

}

.contacts-list {
    display: flex;
    padding-left: 0;
    gap: 40px;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navbar-contacts-color);
    line-height: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}


.contacts-link:hover {
    color: var(--ocean-link-color);
}

.contacts-link:active {
    color: var(--ocean-link-color);
}

.contacts-link:focus {
    color: #404bbf;
}

/*=============================================
=                    main                     =
=============================================*/

/* 1 Section Title block */
.title-block {
    max-width: 1440px;
    padding: 188px 0;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-container {
    padding: 0;
    max-width: 496px;
    align-items: center;
    margin: 0 auto;
}

.title-text {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    max-width: 496px;


}

.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--primary-brand-color);
    font-style: normal;
    line-height: 1.5;

    margin-top: 48px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.title-button:hover {
    background-color: var(--ocean-link-color);
}

.title-button:active {
    background-color: var(--ocean-link-color);
}

.title-button:focus {
    background-color: var(--ocean-link-color);
}

/* 2 Section about */



.about {
    padding: 120px 0;
}

.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navbar-color);

}

.about-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    align-items: center;
}

.about-list-item {
    width: calc((100% - 72px) / 4);
}

.section-about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navbar-color);
    margin-bottom: 8px;
}

.section-about-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* icon about */
.about-icon {
    display: flex;
    justify-content: center;
    background-color: #F4F4FD;
    padding: 24px 0;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 8px;
}

/* 3 Section work */

.work {
    padding-bottom: 120px;
}

.section-work-title {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    color: var(--navbar-color);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    margin-top: 0;
}

.work-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
}

.work-list-item {
    width: calc((100% - 48px)/3);
}

/* 4 Section Team */
.team {
    padding: 120px 0;
    background-color: #F4F4FD;
}


.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navbar-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-list-item {
    text-align: center;
    background: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-container {
    padding: 32px 0;
}

.our-team-container {}

.team-list-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 0;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

.team-icon {
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    max-width: 16px;
    max-height: 16px;
    fill: var(--footer-text-color);
}


.team-block-icon {}

.team-block-icon-list {
    display: flex;
    gap: 24px;
    padding: 0;
    justify-content: center;
}

.team-logo-link {
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-logo-link:hover {
    background-color: var(--ocean-link-color);
}

.team-logo-link:focus {
    background-color: var(--ocean-link-color);
}

/* Section customers */
.customers {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;

}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--logo-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:hover {
    border-color: #404BBF;
    color: #404BBF;
    fill: #404BBF;
}

.customers-link:focus {
    border-color: #404BBF;
    color: #404BBF;
    fill: #404BBF;
}

.customers-link:active {
    border-color: #404BBF;
    color: #404BBF;
    fill: #404BBF;
}

.block-icon {
    border-radius: 4px;
    width: 168px;
    padding: 16px 32px;
}


.block-icon:hover .logo-customers {
    fill: var(--ocean-link-color);
}

.logo-customers {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.logo-customers:hover {}

/*=============================================
=                   footer                    =
=============================================*/
.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-link {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    max-width: 264px;
    margin: 0;
}

.footer-container {
    display: flex;
    align-items: baseline
}

.footer-container-primary {
    margin-right: 120px;
}

/* icon block */
.block-footer-icon {}


.footer-icon {
    fill: var(--footer-text-color);
}

.footer-icon-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.footer-icon-item {
    width: 40px;
    height: 40px;
    position: relative;

}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover {
    background-color: #31D0AA;
}

.footer-icon-link:focus {
    background-color: #31D0AA;
}

.footer-icon-link:active {
    background-color: #31D0AA;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--white-color);
    margin-bottom: 16px;
    padding: 0;
}



/*=============================================
=               Portfolio page                =
=============================================*/

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
    padding: 0;
}

.filter-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--footer-text-color);
    cursor: pointer;

    padding: 12px 24px;
    border: 1px solid var(--button-border-color);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}


.row-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;

}

.row-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row-link:hover,
.row-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.row-list-item {
    width: calc((100% - 48px)/3);
}


.row-list-item:hover,
.row-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 360px;

}

.project-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.project-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.row-link:hover .overlay-text,
.row-link:focus .overlay-text {
    transform: translateY(0%);
}

/* overlay */
.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--footer-text-color);
    padding: 40px 32px;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

/* modal */


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-active {
    position: absolute;
    width: 408px;
    min-height: 584px;

    top: 50%;
    left: 50%;

    cursor: default;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%) scale(1);


    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* close btn */
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    cursor: pointer;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn-svg {
    padding: 0;
    margin: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-svg,
.close-btn:focus .close-btn-svg {
    fill: #ffffff
}

/* close btn */

/* input */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container h3 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Body Medium */
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}



.modal-content {}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}

.form-container input {}

.form-input {
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    border-radius: 4px;
    width: 360px;
    height: 40px;

    font-size: 12px;
    font-family: Roboto;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: #2E2F42;
}

.form-container label {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 4px;
}

label {
    color: var(--lightslate, #8E8F99);
    /* Small Text */
    font-size: 12px;
    font-family: Roboto;
    line-height: 14px;
    letter-spacing: 0.48px;
}

/* comments */
.comment-textarea {
    width: 360px;
    height: 120px;
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

textarea::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    font-family: Roboto;
    line-height: 14px;
    letter-spacing: 0.48px;

}

/* checkbox */
.checkbox-input {
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
}

.checkbox-text {
    color: #8E8F99;
    font-size: 12px;
    font-family: Roboto;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.checkbox-link {}

.checkbox-container {
    display: flex;
    margin-top: 16px;
    width: 360px;
    gap: 8px;
    position: relative;
}

/* .checkbox-logo {
    position: absolute;
    top: 0;
    left: 0;
} */

.input-container button {
    padding: 16px 32px;
    color: var(--white, #FFF);
    text-align: center;
    /* Button Text */
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 169px;
    border: none;
    margin-top: 24px;
}

.input-container button:hover {
    background: var(--ocean, #404BBF);
}

/* modal logo */

.modal-logo {
    position: absolute;
    top: 11px;
    left: 16px;
    fill: var(--navbar-color);
    transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}

/* .input-block:hover .modal-logo, */
.input-block:focus-within .modal-logo {
    fill: var(--primary-brand-color);
}

.input-block:focus-within .modal-logo {
    fill: var(--primary-brand-color);
}

.input-block {
    border: none;
}



.form-input:focus-within {
    border: 1px solid var(--primary-brand-color);
}

.input-block {
    position: relative;

}

.input-block input {
    padding-left: 38px;
}